
@media (max-width: 767px){
   .button{
    display: block;
    position: fixed;
    right: 10px;
   }
    nav{
        transition: all 1s linear;
        position: fixed;
    }
    .links{
        flex-direction: column;
        display:flex;
        z-index: -20;
        font-size: 0;
       
    }
    .container{
        margin: 0 auto;
        padding: 10px;
    }

.activate{
    flex-direction: column;
    z-index: 2;
}
.activate a{
    padding: 10px;
}
.activ{
    position: absolute;
    right: 10px;
    padding: 30px;
}
.nav-fixed{
    z-index: 10;
}
.fixed{
  position: fixed;
  background: rgba(0,0,0,0.5);
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  margin-top: 0;
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  font-size: inherit;
}
.fix{
    position: fixed;
}
.navbackground{
    background: rgba(0,0,0,0.5);
}
.mainabout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.second-header{
    flex-direction: row;
    margin-top: 0;
    padding-top: 0;
}
.first-header{
    position: fixed;
    width: 100%;   
    padding:0;
    margin-top: 0;
    top:12px;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.border{
    width: 90%;
    margin-bottom: 30px;
    font-size: 15px;
}
#vision{
    display: flex;
    flex-direction: column;
}
.vision-border{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    width: 80%;
}
.activities{
    font-size: 15px;
}
.vision-border{
    margin-bottom: 0px;
    font-size: 15px;
}
}

@media (max-width: 400px){
    .border{
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
    }
    .aboutheader{
        margin:20px;
        margin-bottom: 10px;
    }
    .activitieslist{
        font-size: 15px;
        background-color: rgb(72, 72, 122);
        border-radius: 20px;
        padding: 20px;
    }
    .activitieslist li{
            margin-top: 10px;
            font-weight: 100;
    }
    .first-header{
        font-size: 20px;
        top: 20px;
    }
    .button{
        top:20px;
    }
    .button span{
        width: 20px;
        height:2px;
    }
    .active :nth-child(2){
        opacity: 0;
    }
    .active span:nth-child(1){
        transform: translate(0px, 6px) rotate(45deg);
    }
    .active span:nth-child(3){
        transform: translate(0px, -6px) rotate(-45deg);
    }
      .vision-border{
        font-size: 15px;
    }
    .activitiesheader{
        margin-top: 20px;
        font-size: 20px;
        background-color: rgb(72, 72, 122);
        padding:20px;
        border-radius: 20px;
    }
}